In [8]:
import pandas as pd

해당 파일은 모든 예약건을 포함하고 있습니다.
1. 리뷰 기능 배포가 5월 10일이었습니다. requestedAt기준으로 5월 11일 이후 데이터를 이용해 주시면 됩니다.
2. 데이터가 적다고 생각되신다면 학원 변동 사항이 적은 아래 날짜 기준으로 짤라서 부탁드리겠습니다.
   - 3월 1일 이후
   - 11월 16일 이후

감사합니다!

In [9]:
pd.__version__

'2.0.2'

In [10]:
data = pd.read_excel('data/academy_data_v240813.xlsx', engine='openpyxl')
data

,user_id,user_address,requested_at,academy_id,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
0,kakao:3222431740,충남 논산시 양촌면 매죽헌로 1989-15 (반암리),2023-12-13 08:34:05.580000 UTC,NFKwhqUvdDIxYdtyIOE8,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,36.157167,127.260004,1.0,1
1,kakao:3367347013,경기 군포시 당동 877-6,2024-03-24 14:00:14.705000 UTC,NFKwhqUvdDIxYdtyIOE8,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.342479,126.941647,1.0,1
2,kakao:3229528246,강원특별자치도 원주시 흥업면 사제로 155 (흥업리),2023-12-18 06:40:11.451000 UTC,NFKwhqUvdDIxYdtyIOE8,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.310894,127.906785,1.0,1
3,kakao:3259411476,"강원특별자치도 원주시 혁신로 405 (반곡동, 중흥에스클래스)",2024-01-11 15:04:30.618000 UTC,NFKwhqUvdDIxYdtyIOE8,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.334843,127.974723,1.0,1
4,kakao:3220533736,"강원특별자치도 원주시 판부면 시청로 264 (서곡리, 원주 더샾아파트)",2023-12-12 04:30:53.993000 UTC,NFKwhqUvdDIxYdtyIOE8,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.322473,127.937818,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4081,kakao:3380193545,"경기 용인시 처인구 이동읍 적동로 15 (천리, 이화아파트)",2024-03-12 21:53:34.209000 UTC,C6KXw5pqsZCKO22Ko3Qv,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.188407,127.216668,1.0,0
4082,NaN,NaN,NaN,mekPVnojYTUXaASkfPFp,나래,37.712462,127.916658,796500,4.5,5.0,4.5,NaN,NaN,NaN,1
4083,NaN,NaN,NaN,oeabM64LJAWNNfKjRg2Z,상무,34.859217,127.340716,670000,4.7,4.0,4.7,NaN,NaN,NaN,1
4084,NaN,NaN,NaN,P1wqYukJHxIASdr6jRPy,연천,38.062220,127.082659,750000,5.0,5.0,4.5,NaN,NaN,NaN,1
4085,NaN,NaN,NaN,rc7KAfmVdqYeUVs8EWZV,부성,35.114426,128.728515,854700,5.0,5.0,4.5,NaN,NaN,NaN,1

In [11]:
data[data['academy_name']=='나래']

,user_id,user_address,requested_at,academy_id,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
4082,NaN,NaN,NaN,mekPVnojYTUXaASkfPFp,나래,37.712462,127.916658,796500,4.5,5.0,4.5,NaN,NaN,NaN,1

In [3]:
# data.to_csv('data/data2.csv')

In [4]:
data = pd.read_csv('data/data.csv', index_col = 0)
data

,user_id,user_address,requested_at,academy_id,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
0,ZlsHmGdgcqWAAt9L9rzJWPpraSd2,"전북 군산시 하나운2길 15 (나운동, 나운 금호어울림 센트럴)",2024-01-08 01:22:51.225000 UTC,hnZqfcO3MsDd5ATKKuGu,퍼스트,35.976116,126.783386,720000,4.3,4.3,3.0,35.968093,126.696857,1,1
1,zgnQ4iRUqLTd0XjbpEn4ekbtZuP2,"울산 중구 우정2길 45 (우정동, 우정 I'PARK)",2023-12-06 04:19:10.639000 UTC,kMRcWI5OsWcvD656dYDq,신삼성,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,1
2,zgnQ4iRUqLTd0XjbpEn4ekbtZuP2,"울산 중구 우정2길 45 (우정동, 우정 I'PARK)",2023-12-05 07:10:20.356000 UTC,kMRcWI5OsWcvD656dYDq,신삼성,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,1
3,zF2YyfdjdsbtHiGwqs6tQdQd4Po1,"서울 도봉구 해등로 118 (창동, 상아1차아파트)",2024-05-12 13:13:16.291000 UTC,aL1qG0sqv4OmscS55Xpz,창동,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,1
4,zF2YyfdjdsbtHiGwqs6tQdQd4Po1,"서울 도봉구 해등로 118 (창동, 상아1차아파트)",2024-06-02 10:47:58.428000 UTC,aL1qG0sqv4OmscS55Xpz,창동,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3247,NaN,NaN,NaN,166gqvaZPw6dSzvPcnvS,제주,33.478217,126.529682,764500,4.5,4.0,4.5,NaN,NaN,1,1
3248,NaN,NaN,NaN,nA9yEigd1nZzerPkmUzn,대영,36.818990,128.640858,760000,5.0,5.0,4.0,NaN,NaN,1,0
3249,NaN,NaN,NaN,WD3cKGbZkNJAdjRpaMHr,동송,38.178159,127.228038,690000,4.5,4.0,4.5,NaN,NaN,1,0
3250,NaN,NaN,NaN,E30b63pCC93CHaIJ2ued,중앙,36.147481,128.285927,765600,4.5,4.5,5.0,NaN,NaN,1,0
3251,NaN,NaN,NaN,zSJnibWFWGV5MYgmTgz5,신삼천,35.777400,127.102844,762000,5.0,5.0,4.5,NaN,NaN,1,0

In [5]:
data = pd.read_csv('data/data2.csv', index_col = 0)
data

,academy_id,user_id,user_address,requested_at,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
0,NFKwhqUvdDIxYdtyIOE8,kakao:3222431740,충남 논산시 양촌면 매죽헌로 1989-15 (반암리),2023-12-13 08:34:05.580000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,36.157167,127.260004,1,1
1,NFKwhqUvdDIxYdtyIOE8,kakao:3367347013,경기 군포시 당동 877-6,2024-03-24 14:00:14.705000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.342479,126.941647,1,1
2,NFKwhqUvdDIxYdtyIOE8,kakao:3229528246,강원특별자치도 원주시 흥업면 사제로 155 (흥업리),2023-12-18 06:40:11.451000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.310894,127.906785,1,1
3,NFKwhqUvdDIxYdtyIOE8,kakao:3259411476,"강원특별자치도 원주시 혁신로 405 (반곡동, 중흥에스클래스)",2024-01-11 15:04:30.618000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.334843,127.974723,1,1
4,NFKwhqUvdDIxYdtyIOE8,kakao:3220533736,"강원특별자치도 원주시 판부면 시청로 264 (서곡리, 원주 더샾아파트)",2023-12-12 04:30:53.993000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.322473,127.937818,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077,C6KXw5pqsZCKO22Ko3Qv,apple:001125.ddffa40a867644e78c9f4344a5f35b02....,"경기 화성시 동탄대로시범길 236 (청계동, 동탄역 시범리슈빌 아파트)",2024-01-23 10:29:00.165000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.202400,127.103987,1,0
4078,C6KXw5pqsZCKO22Ko3Qv,kakao:3329869865,"경기 화성시 동탄대로시범길 19 (청계동, 동탄역 시범 더샵 센트럴시티)",2024-02-21 03:31:07.221000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.199592,127.100470,1,0
4079,C6KXw5pqsZCKO22Ko3Qv,kakao:3185714084,"경기 화성시 동탄대로9길 20 (송동, 동탄2 LH 26단지 아파트 A65BL)",2023-11-26 08:40:29.168000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.175494,127.102676,1,0
4080,C6KXw5pqsZCKO22Ko3Qv,kakao:3521669738,"경기 화성시 동탄대로 551-16 (오산동, 동탄역 푸르지오시티)",2024-06-11 08:15:43.357000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.203171,127.096869,1,0
4081,C6KXw5pqsZCKO22Ko3Qv,kakao:3380193545,"경기 용인시 처인구 이동읍 적동로 15 (천리, 이화아파트)",2024-03-12 21:53:34.209000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.188407,127.216668,1,0

In [8]:
data

,academy_id,user_id,user_address,requested_at,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
0,NFKwhqUvdDIxYdtyIOE8,kakao:3222431740,충남 논산시 양촌면 매죽헌로 1989-15 (반암리),2023-12-13 08:34:05.580000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,36.157167,127.260004,1,1
1,NFKwhqUvdDIxYdtyIOE8,kakao:3367347013,경기 군포시 당동 877-6,2024-03-24 14:00:14.705000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.342479,126.941647,1,1
2,NFKwhqUvdDIxYdtyIOE8,kakao:3229528246,강원특별자치도 원주시 흥업면 사제로 155 (흥업리),2023-12-18 06:40:11.451000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.310894,127.906785,1,1
3,NFKwhqUvdDIxYdtyIOE8,kakao:3259411476,"강원특별자치도 원주시 혁신로 405 (반곡동, 중흥에스클래스)",2024-01-11 15:04:30.618000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.334843,127.974723,1,1
4,NFKwhqUvdDIxYdtyIOE8,kakao:3220533736,"강원특별자치도 원주시 판부면 시청로 264 (서곡리, 원주 더샾아파트)",2023-12-12 04:30:53.993000 UTC,흥업,37.313368,127.894369,858000,4.5,4.5,4.0,37.322473,127.937818,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077,C6KXw5pqsZCKO22Ko3Qv,apple:001125.ddffa40a867644e78c9f4344a5f35b02....,"경기 화성시 동탄대로시범길 236 (청계동, 동탄역 시범리슈빌 아파트)",2024-01-23 10:29:00.165000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.202400,127.103987,1,0
4078,C6KXw5pqsZCKO22Ko3Qv,kakao:3329869865,"경기 화성시 동탄대로시범길 19 (청계동, 동탄역 시범 더샵 센트럴시티)",2024-02-21 03:31:07.221000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.199592,127.100470,1,0
4079,C6KXw5pqsZCKO22Ko3Qv,kakao:3185714084,"경기 화성시 동탄대로9길 20 (송동, 동탄2 LH 26단지 아파트 A65BL)",2023-11-26 08:40:29.168000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.175494,127.102676,1,0
4080,C6KXw5pqsZCKO22Ko3Qv,kakao:3521669738,"경기 화성시 동탄대로 551-16 (오산동, 동탄역 푸르지오시티)",2024-06-11 08:15:43.357000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.203171,127.096869,1,0
4081,C6KXw5pqsZCKO22Ko3Qv,kakao:3380193545,"경기 용인시 처인구 이동읍 적동로 15 (천리, 이화아파트)",2024-03-12 21:53:34.209000 UTC,e동탄,37.145654,127.141742,789000,5.0,5.0,5.0,37.188407,127.216668,1,0

In [7]:
dd = data[data['user_lat'].isna()]
dd = dd.reset_index(drop = True)
dd

Empty DataFrame
Columns: [academy_id, user_id, user_address, requested_at, academy_name, academy_lat, academy_long, lesson_price, service_rate, lecutre_rate, facility_rate, user_lat, user_long, reserve, state]
Index: []

In [7]:
data = data.loc[:, ['requested_at', 'academy_lat', 'academy_long', 'lesson_price',
 'service_rate',
 'lecutre_rate',
 'facility_rate',
 'user_lat',
 'user_long',
 'reserve', 'academy_name', 'academy_id', 'state']]
data = data[data['reserve'] == 1].reset_index(drop = True)
data['requested_at'] = pd.to_datetime(data['requested_at'], utc = True)
data['requested_at'] = data['requested_at'].dt.tz_convert('Asia/Seoul')
data = data[data['requested_at'] >= pd.to_datetime('2023-05-11').tz_localize('Asia/Seoul')].reset_index(drop = True)
data

,requested_at,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,academy_name,academy_id,state
0,2023-12-13 17:34:05.580000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,36.157167,127.260004,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
1,2024-03-24 23:00:14.705000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.342479,126.941647,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
2,2023-12-18 15:40:11.451000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.310894,127.906785,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
3,2024-01-12 00:04:30.618000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.334843,127.974723,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
4,2023-12-12 13:30:53.993000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.322473,127.937818,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,2024-01-23 19:29:00.165000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.202400,127.103987,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4075,2024-02-21 12:31:07.221000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.199592,127.100470,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4076,2023-11-26 17:40:29.168000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.175494,127.102676,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4077,2024-06-11 17:15:43.357000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.203171,127.096869,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4078,2024-03-13 06:53:34.209000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.188407,127.216668,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0

In [8]:
data

,requested_at,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,academy_name,academy_id,state
0,2023-12-13 17:34:05.580000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,36.157167,127.260004,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
1,2024-03-24 23:00:14.705000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.342479,126.941647,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
2,2023-12-18 15:40:11.451000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.310894,127.906785,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
3,2024-01-12 00:04:30.618000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.334843,127.974723,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
4,2023-12-12 13:30:53.993000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.322473,127.937818,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,2024-01-23 19:29:00.165000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.202400,127.103987,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4075,2024-02-21 12:31:07.221000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.199592,127.100470,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4076,2023-11-26 17:40:29.168000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.175494,127.102676,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4077,2024-06-11 17:15:43.357000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.203171,127.096869,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4078,2024-03-13 06:53:34.209000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.188407,127.216668,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0

In [9]:
df_nulls = data[data.isnull().any(axis=1)]
df_nulls

Empty DataFrame
Columns: [requested_at, academy_lat, academy_long, lesson_price, service_rate, lecutre_rate, facility_rate, user_lat, user_long, reserve, academy_name, academy_id, state]
Index: []

In [10]:
print('평점 null인 학원 수: ', len(df_nulls.groupby(['academy_lat', 'academy_long']).size().reset_index(name='count')))
print('평점 있는 학원 수: ', len(data.dropna().groupby(['academy_lat', 'academy_long']).size().reset_index(name='count')))

평점 null인 학원 수:  0
평점 있는 학원 수:  97

보간법으로 null 매구기에는 평점 있는 학원에 비해 없는 학원 수가 너무 많아 그냥 제거

In [11]:
data = data.dropna().reset_index(drop = True)
data

,requested_at,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,academy_name,academy_id,state
0,2023-12-13 17:34:05.580000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,36.157167,127.260004,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
1,2024-03-24 23:00:14.705000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.342479,126.941647,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
2,2023-12-18 15:40:11.451000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.310894,127.906785,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
3,2024-01-12 00:04:30.618000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.334843,127.974723,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
4,2023-12-12 13:30:53.993000+09:00,37.313368,127.894369,858000,4.5,4.5,4.0,37.322473,127.937818,1,흥업,NFKwhqUvdDIxYdtyIOE8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,2024-01-23 19:29:00.165000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.202400,127.103987,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4075,2024-02-21 12:31:07.221000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.199592,127.100470,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4076,2023-11-26 17:40:29.168000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.175494,127.102676,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4077,2024-06-11 17:15:43.357000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.203171,127.096869,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4078,2024-03-13 06:53:34.209000+09:00,37.145654,127.141742,789000,5.0,5.0,5.0,37.188407,127.216668,1,e동탄,C6KXw5pqsZCKO22Ko3Qv,0

In [12]:
from src.util import generate_random_locations
import numpy as np
k = len(data)
for i in range(len(dd)):
    locs = generate_random_locations([dd.loc[i, 'academy_lat'], dd.loc[i, 'academy_long']], 
                                     num_samples=10, min_distance_km=1, max_distance_km=24)

    for j in range(len(locs)):
        data.loc[k, 'requested_at'] = np.random.choice(data['requested_at'])
        data.loc[k, 'academy_lat'] = dd.loc[i, 'academy_lat']
        data.loc[k, 'academy_long'] = dd.loc[i, 'academy_long']
        data.loc[k, 'user_lat'] = locs[j][0]
        data.loc[k, 'user_long'] = locs[j][1]
        data.loc[k, 'lesson_price'] = dd.loc[i, 'lesson_price']
        data.loc[k, 'service_rate'] = dd.loc[i, 'service_rate']
        data.loc[k, 'lecutre_rate'] = dd.loc[i, 'lecutre_rate']
        data.loc[k, 'facility_rate'] = dd.loc[i, 'facility_rate']
        data.loc[k, 'academy_name'] = dd.loc[i, 'academy_name']
        data.loc[k, 'academy_id'] = dd.loc[i, 'academy_id']
        data.loc[k, 'state'] = dd.loc[i, 'state']
        k += 1

In [13]:
from src.util import haversine

# 각 행에 대해 거리 계산
data['distance_m'] = data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
data = data.loc[:, ['requested_at', 'academy_lat', 'academy_long', 'user_lat', 'user_long', 'lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m', 'academy_name', 'academy_id', 'state']]
data

,requested_at,academy_lat,academy_long,user_lat,user_long,lesson_price,service_rate,lecutre_rate,facility_rate,distance_m,academy_name,academy_id,state
0,2023-12-13 17:34:05.580000+09:00,37.313368,127.894369,36.157167,127.260004,858000,4.5,4.5,4.0,140441.964754,흥업,NFKwhqUvdDIxYdtyIOE8,1
1,2024-03-24 23:00:14.705000+09:00,37.313368,127.894369,37.342479,126.941647,858000,4.5,4.5,4.0,84301.324590,흥업,NFKwhqUvdDIxYdtyIOE8,1
2,2023-12-18 15:40:11.451000+09:00,37.313368,127.894369,37.310894,127.906785,858000,4.5,4.5,4.0,1131.957904,흥업,NFKwhqUvdDIxYdtyIOE8,1
3,2024-01-12 00:04:30.618000+09:00,37.313368,127.894369,37.334843,127.974723,858000,4.5,4.5,4.0,7495.693597,흥업,NFKwhqUvdDIxYdtyIOE8,1
4,2023-12-12 13:30:53.993000+09:00,37.313368,127.894369,37.322473,127.937818,858000,4.5,4.5,4.0,3973.393255,흥업,NFKwhqUvdDIxYdtyIOE8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,2024-01-23 19:29:00.165000+09:00,37.145654,127.141742,37.202400,127.103987,789000,5.0,5.0,5.0,7141.691792,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4075,2024-02-21 12:31:07.221000+09:00,37.145654,127.141742,37.199592,127.100470,789000,5.0,5.0,5.0,7024.468914,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4076,2023-11-26 17:40:29.168000+09:00,37.145654,127.141742,37.175494,127.102676,789000,5.0,5.0,5.0,4795.139589,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4077,2024-06-11 17:15:43.357000+09:00,37.145654,127.141742,37.203171,127.096869,789000,5.0,5.0,5.0,7530.539819,e동탄,C6KXw5pqsZCKO22Ko3Qv,0
4078,2024-03-13 06:53:34.209000+09:00,37.145654,127.141742,37.188407,127.216668,789000,5.0,5.0,5.0,8165.611447,e동탄,C6KXw5pqsZCKO22Ko3Qv,0

In [14]:
value_to_int = {value: idx for idx, value in enumerate(data['academy_id'].unique())}
int_to_value = {idx: value for value, idx in value_to_int.items()}
value_to_int

{'NFKwhqUvdDIxYdtyIOE8': 0,
 'D2sqPHdqrmuerQurjyWx': 1,
 'Vm0ZEDAayHs7kWTJAA7L': 2,
 'yJkJwLkccYWWEPqdZoAa': 3,
 'Ct8H8g2g21PrEt4DHUoH': 4,
 'Fm7K8G84yGhx5afH7Zhn': 5,
 'z5NDkv4bqsOVF5i0KEHy': 6,
 'IU6S2KXuyLTuNpgSfrNk': 7,
 'AKNmDow32mnrmGsEcOyx': 8,
 'hnZqfcO3MsDd5ATKKuGu': 9,
 '02GtHnCzNTp3Req62tNd': 10,
 'NDirOiMovgjGNBCRYFwR': 11,
 'O11kxsTEpKkthGqvpYIf': 12,
 'rZwEF7XiAC7pzSiUFk5z': 13,
 'tgAyP4WIv2IODXQhVRIh': 14,
 '3mi3ZvqYS275OuGAumFN': 15,
 '5oY81sHfmt9jHP3t8blj': 16,
 'PccbtqKkN7Vx8kBcWGop': 17,
 '6qZWlt4osq55zHzbMGar': 18,
 'aL1qG0sqv4OmscS55Xpz': 19,
 'H0Zl09Zy1e3TJ8IrUNGK': 20,
 'XvCJB3liPUakH1R98UkR': 21,
 'blzVkLYZ3ykUvjTGV4qV': 22,
 'WpLb4LnEktW4pAVoIhWM': 23,
 'XfY9MvZuXlCeWpreDe1c': 24,
 'ZJawK6iLTTE4mYm4ndy9': 25,
 'z9DeYip6mGzbwIkmzb20': 26,
 'InqsH7gyOaa65kdbr3f3': 27,
 'ljMjkasNYUKX2MreTLqC': 28,
 'qaHvS0nLSw77NZDCmDRj': 29,
 'homCBU2h2Yg7p6berPax': 30,
 '9vrkyRzJJPWj4CuRUp70': 31,
 '35CDpdcufRMPuCTiLEhG': 32,
 'CxFj5h6O0f8uCuDrkHEe': 33,
 'ciaUcB5L4ziqHFcHfJbE': 34,
 'pcjzyjHkbKDEtXz2WgFX': 35,
 'u6WfsKt7CroUmhG7mf54': 36,
 'hvwNKwBBnzKmIMUB4fUv': 37,
 'pYLxlFj7QMVzRVpk5gar': 38,
 'hAllqm62rvWkKbIWGHEf': 39,
 '593fExEwBSRe1vMmMbC7': 40,
 '4Yr8UZBubJ9gpVeNVKtB': 41,
 'kMRcWI5OsWcvD656dYDq': 42,
 'XR1bcuHAUm4F9MRsCr68': 43,
 'QTuqfLh60OcObFaSrvKV': 44,
 'VioGYtKvrhBYVE0idQYc': 45,
 'sVLpxoCFbiqY9eP9RFoc': 46,
 '6Q5jPIu3xhVA4JSqcDco': 47,
 'YNwzLg7D7cydDUHkSTUS': 48,
 'QeWBbKVOrlqVu81EcXI9': 49,
 'O667ARxZgaaH9SGNlT5E': 50,
 'khkpaweAjBOtMSTGVVQZ': 51,
 'xssGISppalk7lLraIlQo': 52,
 'AcVZTJTc5NEzgWDrvkTz': 53,
 'QLN0dYXZ1hHPjiTD4iw9': 54,
 'WD3cKGbZkNJAdjRpaMHr': 55,
 'dBcHxNRXeaf0W6DNIUo2': 56,
 'IKpZZH9jcSMEGH1sQ2iY': 57,
 'M3iAmzacROKlcOaVAsk5': 58,
 'sNgSGFeNHBorptP3tcep': 59,
 '6sustABBQELUoOHZrpPb': 60,
 '1yyMKNljZeSCdsTbBp2i': 61,
 'jV8NSCZ8tOhWPiE0tgh7': 62,
 'HyZcALCiY48myKdcrhvI': 63,
 'hdToluff9us5ghFgC3MZ': 64,
 'lpy74wUkALu0cbuNhoxj': 65,
 'BXNsrqF6jUE1r3E8h0oA': 66,
 '7DiEvG0ZGQBEZrh2hyec': 67,
 'kn8KqjFl7CoYJccHbHVV': 68,
 'fu8ErVoVe0JGFqbzfU2x': 69,
 'm99lBNgA6GCn0rwF4fqY': 70,
 'Xk2vFSzz4CVOC7AArtWw': 71,
 'Db70g5VMEMXaeTWaFREX': 72,
 '25lOXfYij7y8XQsGJAIZ': 73,
 'NPpo62Ddk5tmXQGAAcbb': 74,
 'SHF2rCT8jxWOWiSk4KMS': 75,
 'Hrp3UaKotnkUafCFKx3D': 76,
 '166gqvaZPw6dSzvPcnvS': 77,
 '5X0f10OuqeKaUmHFzCQG': 78,
 'UHi4Pk0oeZZDurshXytj': 79,
 'UPelWpMgnDVn0Xt5mb0y': 80,
 'CQGj52KRB8BRoXuXRl2M': 81,
 'yjmiN3ACzzBPIBflZ0tq': 82,
 '4JdmwYWHSVROausQGFbv': 83,
 'ndbdRgTrbGsZ9Anphtbp': 84,
 'FPM9ycTzLmFTSDJg5ull': 85,
 'G8QnGz7vJWwsGBEzOfEL': 86,
 'Jeffzuu815rTpZTFw12N': 87,
 'IdiE9ngLqYWDY4MW0Td0': 88,
 'Pi8o2tGE3v819jOjfwoD': 89,
 '7TMTGmecRjTAMxa5LVst': 90,
 'XCLY6VTwhknVccKSBxTn': 91,
 'ev8fqjckrB7wpRXjm4wC': 92,
 'HNK4OMPZs95JJr1CgUH7': 93,
 'LyNBLYCry6lJiG3SGmFG': 94,
 'b4agfudCSZPdVjRCb5bZ': 95,
 'C6KXw5pqsZCKO22Ko3Qv': 96}

In [15]:
data['academy_id'].value_counts()

academy_id
u6WfsKt7CroUmhG7mf54    461
tgAyP4WIv2IODXQhVRIh    425
YNwzLg7D7cydDUHkSTUS    341
Ct8H8g2g21PrEt4DHUoH    329
XfY9MvZuXlCeWpreDe1c    236
                       ...
kn8KqjFl7CoYJccHbHVV      2
UHi4Pk0oeZZDurshXytj      1
4Yr8UZBubJ9gpVeNVKtB      1
yjmiN3ACzzBPIBflZ0tq      1
CQGj52KRB8BRoXuXRl2M      1
Name: count, Length: 97, dtype: int64

In [16]:
data['academy_id'] = data['academy_id'].map(value_to_int)
data

,requested_at,academy_lat,academy_long,user_lat,user_long,lesson_price,service_rate,lecutre_rate,facility_rate,distance_m,academy_name,academy_id,state
0,2023-12-13 17:34:05.580000+09:00,37.313368,127.894369,36.157167,127.260004,858000,4.5,4.5,4.0,140441.964754,흥업,0,1
1,2024-03-24 23:00:14.705000+09:00,37.313368,127.894369,37.342479,126.941647,858000,4.5,4.5,4.0,84301.324590,흥업,0,1
2,2023-12-18 15:40:11.451000+09:00,37.313368,127.894369,37.310894,127.906785,858000,4.5,4.5,4.0,1131.957904,흥업,0,1
3,2024-01-12 00:04:30.618000+09:00,37.313368,127.894369,37.334843,127.974723,858000,4.5,4.5,4.0,7495.693597,흥업,0,1
4,2023-12-12 13:30:53.993000+09:00,37.313368,127.894369,37.322473,127.937818,858000,4.5,4.5,4.0,3973.393255,흥업,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,2024-01-23 19:29:00.165000+09:00,37.145654,127.141742,37.202400,127.103987,789000,5.0,5.0,5.0,7141.691792,e동탄,96,0
4075,2024-02-21 12:31:07.221000+09:00,37.145654,127.141742,37.199592,127.100470,789000,5.0,5.0,5.0,7024.468914,e동탄,96,0
4076,2023-11-26 17:40:29.168000+09:00,37.145654,127.141742,37.175494,127.102676,789000,5.0,5.0,5.0,4795.139589,e동탄,96,0
4077,2024-06-11 17:15:43.357000+09:00,37.145654,127.141742,37.203171,127.096869,789000,5.0,5.0,5.0,7530.539819,e동탄,96,0
4078,2024-03-13 06:53:34.209000+09:00,37.145654,127.141742,37.188407,127.216668,789000,5.0,5.0,5.0,8165.611447,e동탄,96,0

In [17]:
data = data[data['distance_m'] <= 25000]

In [18]:
import numpy as np
def haversine(lat1, lon1, lat2, lon2):
    R = 6371000  # 지구의 반지름 (미터 단위)
    phi1 = np.radians(lat1)
    phi2 = np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)
    
    a = np.sin(delta_phi / 2) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    distance = R * c  # 미터 단위 거리
    return distance

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
import numpy as np
import itertools
import ray
ray.init(num_cpus = 5)
cols = ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']

all_subsets = []
for i in range(0, len(cols) + 1):
    subsets = list(itertools.combinations(cols, i))
    all_subsets.extend(subsets)
# # 부분집합 순서 반대로
# all_subsets = all_subsets[::-1]
@ray.remote
def process_fold(train_index, test_index, X, y, select_cols):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]

    유저data = X_train.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_train.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_train = X_train.copy()
    X_train.loc[:, 'label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_train,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    # cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_train = cross_joined_data.loc[:, select_cols]
    y_train = cross_joined_data['label']

    유저data = X_test.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_test.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_test = X_test.copy()
    X_test['label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_test,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_test = cross_joined_data.loc[:, select_cols]
    y_test = cross_joined_data['label']
    
    # 표준화 전처리
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # 클래스 가중치 계산
    class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
    class_weight_dict = {i: class_weights[i] for i in range(len(class_weights))}

    # 로지스틱 회귀 모델 학습
    logistic_model = LogisticRegression(class_weight=class_weight_dict, random_state=42)
    logistic_model.fit(X_train_scaled, y_train)

    # 랜덤 포레스트 모델 학습
    rf_model = RandomForestClassifier(class_weight=class_weight_dict, random_state=42, max_depth=10, n_jobs = -1)
    rf_model.fit(X_train, y_train)

    # 로지스틱 회귀 모델 예측 및 평가
    y_pred_logistic = logistic_model.predict(X_test_scaled)
    precision_logistic = precision_score(y_test, y_pred_logistic)
    f1_logistic = f1_score(y_test, y_pred_logistic)

    y_pred_rf = rf_model.predict(X_test)
    precision_rf = precision_score(y_test, y_pred_rf)
    f1_rf = f1_score(y_test, y_pred_rf)

    return precision_logistic, f1_logistic, precision_rf, f1_rf
total_results = []
for subset in all_subsets:
    select_cols = list(subset) + ['distance_m']
    print(select_cols)

    X = data.loc[:, ['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long', 'academy_id'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']]
    y = data['academy_id']
    X_ref = ray.put(X)
    y_ref = ray.put(y)
    skf = StratifiedKFold(n_splits=5)
    
    futures = []
    for train_index, test_index in skf.split(X, y):
        futures.append(process_fold.remote(train_index, test_index, X_ref, y_ref, select_cols))
    
    results = ray.get(futures)
    
    rf_f1 = [result[3] for result in results]
    logi_f1 = [result[1] for result in results]
    rf_pre = [result[2] for result in results]
    logi_pre = [result[0] for result in results]
    total_results.append([select_cols, {'precision_logistic': np.mean(logi_pre), 'precision_rf': np.mean(rf_pre), 'f1_logistic': np.mean(logi_f1), 'f1_rf': np.mean(rf_f1)}])
    
    print('precision_logistic', np.mean(logi_pre))
    print('precision_rf', np.mean(rf_pre))
    print('f1_logistic', np.mean(logi_f1))
    print('f1_rf', np.mean(rf_f1))
    print()

ray.shutdown()

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2024-08-14 05:10:13,095	INFO util.py:154 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.
2024-08-14 05:10:13,765	INFO worker.py:1781 -- Started a local Ray instance.

['distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2090871691310184
precision_rf 0.2576179557718625
f1_logistic 0.3448345241498546
f1_rf 0.40560355467462655

['lesson_price', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21108690091011076
precision_rf 0.30929266164717156
f1_logistic 0.3475716691434558
f1_rf 0.4647003815227255

['service_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2107167420351149
precision_rf 0.2663695003182214
f1_logistic 0.3470005261911939
f1_rf 0.41606460135039036

['lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21268722499774953
precision_rf 0.26723404446349397
f1_logistic 0.34974799812780877
f1_rf 0.4162495511561146

['facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20920813190941198
precision_rf 0.2975317800558228
f1_logistic 0.34495477383486206
f1_rf 0.45312300559320073

['lesson_price', 'service_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21112965700085945
precision_rf 0.317325881144656
f1_logistic 0.34757939769500334
f1_rf 0.4752950736963861

['lesson_price', 'lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21259484605857254
precision_rf 0.31866856760199
f1_logistic 0.34960764133291417
f1_rf 0.4762855237536689

['lesson_price', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21071319650235049
precision_rf 0.3277611214433645
f1_logistic 0.34702123716531696
f1_rf 0.48669537330520873

['service_rate', 'lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21200155580802638
precision_rf 0.29666479527365214
f1_logistic 0.34876068507622
f1_rf 0.45077043487788265

['service_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21051238664850924
precision_rf 0.29966732803129564
f1_logistic 0.3467809022274858
f1_rf 0.4557263141204279

['lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21240207824577312
precision_rf 0.3121106992268217
f1_logistic 0.34937098870435696
f1_rf 0.46841368068196126

['lesson_price', 'service_rate', 'lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21221939100238268
precision_rf 0.3201463760267556
f1_logistic 0.3491018841007668
f1_rf 0.4786379369494512

['lesson_price', 'service_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2111922492211824
precision_rf 0.3292200334756163
f1_logistic 0.3476637830436887
f1_rf 0.4886474569644134

['lesson_price', 'lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21218599009869568
precision_rf 0.3284695112762436
f1_logistic 0.3490769880042207
f1_rf 0.4875160596720348

['service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2121785306426144
precision_rf 0.3155678589397624
f1_logistic 0.3490718737829911
f1_rf 0.47258420029729226

['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.21184419054910703
precision_rf 0.3259051961578284
f1_logistic 0.34857979130863037
f1_rf 0.48481711961562735

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
import numpy as np
import itertools
import ray
ray.init(num_cpus = 5)
cols = ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']

all_subsets = []
for i in range(1, len(cols) + 1):
    subsets = list(itertools.combinations(cols, i))
    all_subsets.extend(subsets)
# # 부분집합 순서 반대로
# all_subsets = all_subsets[::-1]
@ray.remote
def process_fold(train_index, test_index, X, y, select_cols):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]

    유저data = X_train.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_train.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_train = X_train.copy()
    X_train.loc[:, 'label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_train,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    # cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_train = cross_joined_data.loc[:, select_cols]
    y_train = cross_joined_data['label']

    유저data = X_test.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_test.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_test = X_test.copy()
    X_test['label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_test,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_test = cross_joined_data.loc[:, select_cols]
    y_test = cross_joined_data['label']

    # 표준화 전처리
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # 클래스 가중치 계산
    class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
    class_weight_dict = {i: class_weights[i] for i in range(len(class_weights))}

    # 로지스틱 회귀 모델 학습
    logistic_model = LogisticRegression(class_weight=class_weight_dict, random_state=42)
    logistic_model.fit(X_train_scaled, y_train)

    # 랜덤 포레스트 모델 학습
    rf_model = RandomForestClassifier(class_weight=class_weight_dict, random_state=42, max_depth=10, n_jobs = -1)
    rf_model.fit(X_train, y_train)

    # 로지스틱 회귀 모델 예측 및 평가
    y_pred_logistic = logistic_model.predict(X_test_scaled)
    precision_logistic = precision_score(y_test, y_pred_logistic)
    f1_logistic = f1_score(y_test, y_pred_logistic)

    y_pred_rf = rf_model.predict(X_test)
    precision_rf = precision_score(y_test, y_pred_rf)
    f1_rf = f1_score(y_test, y_pred_rf)

    return precision_logistic, f1_logistic, precision_rf, f1_rf

for subset in all_subsets:
    select_cols = list(subset)
    select_cols = sorted(select_cols)
    print(select_cols)

    X = data.loc[:, ['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long', 'academy_id'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']]
    y = data['academy_id']
    X_ref = ray.put(X)
    y_ref = ray.put(y)
    skf = StratifiedKFold(n_splits=5)
    
    futures = []
    for train_index, test_index in skf.split(X, y):
        futures.append(process_fold.remote(train_index, test_index, X_ref, y_ref, select_cols))
    
    results = ray.get(futures)
    
    rf_f1 = [result[3] for result in results]
    logi_f1 = [result[1] for result in results]
    rf_pre = [result[2] for result in results]
    logi_pre = [result[0] for result in results]
    total_results.append([select_cols, {'precision_logistic': np.mean(logi_pre), 'precision_rf': np.mean(rf_pre), 'f1_logistic': np.mean(logi_f1), 'f1_rf': np.mean(rf_f1)}])
    print('precision_logistic', np.mean(logi_pre))
    print('precision_rf', np.mean(rf_pre))
    print('f1_logistic', np.mean(logi_f1))
    print('f1_rf', np.mean(rf_f1))
    print()

ray.shutdown()

2024-08-14 05:14:22,941	INFO worker.py:1781 -- Started a local Ray instance.

['lesson_price']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18440976294904635
precision_rf 0.2567094979187844
f1_logistic 0.29248974256854987
f1_rf 0.38227802035547426

['service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.19287945343672128
precision_rf 0.21570763250903413
f1_logistic 0.2811466529701049
f1_rf 0.3382347151198163

['lecutre_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17863321076528602
precision_rf 0.2855426699376774
f1_logistic 0.268491474440886
f1_rf 0.40790581703046563

['facility_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.19798802979090163
precision_rf 0.23860518433994865
f1_logistic 0.292994125599075
f1_rf 0.3590208421045199

['lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18238366617559232
precision_rf 0.2854824383691296
f1_logistic 0.2883814497164685
f1_rf 0.41316021868720076

['lecutre_rate', 'lesson_price']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18260860704754375
precision_rf 0.2843022714997244
f1_logistic 0.28980833049630494
f1_rf 0.40986590750571084

['facility_rate', 'lesson_price']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18463399076990447
precision_rf 0.2842281729880932
f1_logistic 0.2884878751639123
f1_rf 0.4117482711997195

['lecutre_rate', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.19977124866101145
precision_rf 0.27614906172948617
f1_logistic 0.31215834566791684
f1_rf 0.39933780885690245

['facility_rate', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.23301185570239866
precision_rf 0.24952138134992596
f1_logistic 0.3350935606068616
f1_rf 0.3735536353573038

['facility_rate', 'lecutre_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.22431814385768312
precision_rf 0.24363288218352505
f1_logistic 0.3261727060470522
f1_rf 0.36580374617788286

['lecutre_rate', 'lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18632342425921627
precision_rf 0.2862231386736389
f1_logistic 0.29448547245716405
f1_rf 0.41379588840044057

['facility_rate', 'lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.1813505925567661
precision_rf 0.2862231386736389
f1_logistic 0.2854878957603448
f1_rf 0.41379588840044057

['facility_rate', 'lecutre_rate', 'lesson_price']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18042128416154338
precision_rf 0.28523590947291144
f1_logistic 0.2837471845114485
f1_rf 0.41214007865121893

['facility_rate', 'lecutre_rate', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.23595971260540374
precision_rf 0.2534512516865094
f1_logistic 0.3340681524489666
f1_rf 0.3782013374031951

['facility_rate', 'lecutre_rate', 'lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/tgsociety/lib/python3.9/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17737379641659828
precision_rf 0.2842281729880932
f1_logistic 0.28184724707526115
f1_rf 0.4117482711997195

In [21]:
# precision_rf 기준으로 정렬
sorted_by_precision_rf = sorted(total_results, key=lambda x: x[1]['precision_rf'], reverse=True)

# f1_rf 기준으로 정렬
sorted_by_f1_rf = sorted(total_results, key=lambda x: x[1]['f1_rf'], reverse=True)

In [22]:
print("Sorted by Precision RF:")
for i in range(len(sorted_by_precision_rf)):
    print(sorted_by_precision_rf[i][0], sorted_by_precision_rf[i][1]['precision_rf'])

Sorted by Precision RF:
['lesson_price', 'service_rate', 'facility_rate', 'distance_m'] 0.3292200334756163
['lesson_price', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.3284695112762436
['lesson_price', 'facility_rate', 'distance_m'] 0.3277611214433645
['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.3259051961578284
['lesson_price', 'service_rate', 'lecutre_rate', 'distance_m'] 0.3201463760267556
['lesson_price', 'lecutre_rate', 'distance_m'] 0.31866856760199
['lesson_price', 'service_rate', 'distance_m'] 0.317325881144656
['service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.3155678589397624
['lecutre_rate', 'facility_rate', 'distance_m'] 0.3121106992268217
['lesson_price', 'distance_m'] 0.30929266164717156
['service_rate', 'facility_rate', 'distance_m'] 0.29966732803129564
['facility_rate', 'distance_m'] 0.2975317800558228
['service_rate', 'lecutre_rate', 'distance_m'] 0.29666479527365214
['lecutre_rate', 'lesson_price', 'service_rate'] 0.2862231386736389
['facility_rate', 'lesson_price', 'service_rate'] 0.2862231386736389
['lecutre_rate'] 0.2855426699376774
['lesson_price', 'service_rate'] 0.2854824383691296
['facility_rate', 'lecutre_rate', 'lesson_price'] 0.28523590947291144
['lecutre_rate', 'lesson_price'] 0.2843022714997244
['facility_rate', 'lesson_price'] 0.2842281729880932
['facility_rate', 'lecutre_rate', 'lesson_price', 'service_rate'] 0.2842281729880932
['lecutre_rate', 'service_rate'] 0.27614906172948617
['lecutre_rate', 'distance_m'] 0.26723404446349397
['service_rate', 'distance_m'] 0.2663695003182214
['distance_m'] 0.2576179557718625
['lesson_price'] 0.2567094979187844
['facility_rate', 'lecutre_rate', 'service_rate'] 0.2534512516865094
['facility_rate', 'service_rate'] 0.24952138134992596
['facility_rate', 'lecutre_rate'] 0.24363288218352505
['facility_rate'] 0.23860518433994865
['service_rate'] 0.21570763250903413

In [23]:
print("\nSorted by F1 RF:")
for i in range(len(sorted_by_precision_rf)):
    print(sorted_by_f1_rf[i][0], sorted_by_f1_rf[i][1]['f1_rf'])

Sorted by F1 RF:
['lesson_price', 'service_rate', 'facility_rate', 'distance_m'] 0.4886474569644134
['lesson_price', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.4875160596720348
['lesson_price', 'facility_rate', 'distance_m'] 0.48669537330520873
['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.48481711961562735
['lesson_price', 'service_rate', 'lecutre_rate', 'distance_m'] 0.4786379369494512
['lesson_price', 'lecutre_rate', 'distance_m'] 0.4762855237536689
['lesson_price', 'service_rate', 'distance_m'] 0.4752950736963861
['service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.47258420029729226
['lecutre_rate', 'facility_rate', 'distance_m'] 0.46841368068196126
['lesson_price', 'distance_m'] 0.4647003815227255
['service_rate', 'facility_rate', 'distance_m'] 0.4557263141204279
['facility_rate', 'distance_m'] 0.45312300559320073
['service_rate', 'lecutre_rate', 'distance_m'] 0.45077043487788265
['lecutre_rate', 'distance_m'] 0.4162495511561146
['service_rate', 'distance_m'] 0.41606460135039036
['lecutre_rate', 'lesson_price', 'service_rate'] 0.41379588840044057
['facility_rate', 'lesson_price', 'service_rate'] 0.41379588840044057
['lesson_price', 'service_rate'] 0.41316021868720076
['facility_rate', 'lecutre_rate', 'lesson_price'] 0.41214007865121893
['facility_rate', 'lesson_price'] 0.4117482711997195
['facility_rate', 'lecutre_rate', 'lesson_price', 'service_rate'] 0.4117482711997195
['lecutre_rate', 'lesson_price'] 0.40986590750571084
['lecutre_rate'] 0.40790581703046563
['distance_m'] 0.40560355467462655
['lecutre_rate', 'service_rate'] 0.39933780885690245
['lesson_price'] 0.38227802035547426
['facility_rate', 'lecutre_rate', 'service_rate'] 0.3782013374031951
['facility_rate', 'service_rate'] 0.3735536353573038
['facility_rate', 'lecutre_rate'] 0.36580374617788286
['facility_rate'] 0.3590208421045199
['service_rate'] 0.3382347151198163

In [24]:
asdg

NameError: name 'asdg' is not defined

In [25]:
import pickle
import itertools
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
import numpy as np
import itertools
import ray
cols = ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate', 'distance_m']

all_subsets = []
for i in range(1, len(cols) + 1):
    subsets = list(itertools.combinations(cols, i))
    all_subsets.extend(subsets)
for subset in all_subsets:
    if len(list(subset)) >1:
        select_cols = list(subset)
        select_cols = sorted(select_cols)
    
        유저data = data.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
        학원data = data.loc[:, ['academy_lat', 'academy_long']+['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']+['academy_id']].drop_duplicates()
        유저data['label'] = 0
        학원data['label'] = 0
    
        cross_joined_data = pd.merge(유저data, 학원data, on='label').drop('label', axis = 1)
        # data = data
        data.loc[:, 'label'] = 1
        cross_joined_data = pd.merge(cross_joined_data, data, on = ['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long']+['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']+['academy_id'], how = 'left')
        cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
        cross_joined_data['distance_m'] = cross_joined_data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
        X_train = cross_joined_data.loc[:, select_cols]
        y_train = cross_joined_data['label']
        scaler = StandardScaler()
        X_train_scaled = scaler.fit_transform(X_train)
        file_name = '__'.join(sorted(select_cols))
        with open('./models/'+file_name + '__scaler.pkl', 'wb') as file:
            pickle.dump(scaler, file)
        
        class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
        class_weight_dict = {i : class_weights[i] for i in range(len(class_weights))}
        rf_model = RandomForestClassifier(class_weight=class_weight_dict, random_state=42)
        rf_model.fit(X_train_scaled, y_train)
        logistic_model = LogisticRegression(class_weight=class_weight_dict, random_state=42)
        logistic_model.fit(X_train_scaled, y_train)
        
        # 모델 저장
        with open('./models/'+file_name + '__rf.pkl', 'wb') as file:
            pickle.dump(rf_model, file)
        with open('./models/'+file_name + '__logi.pkl', 'wb') as file:
            pickle.dump(logistic_model, file)

/tmp/ipykernel_2981937/1658495571.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, 'label'] = 1

In [26]:
def 전처리_pred(lat, long, 학원data, scaler):
    data = 학원data.copy()
    data['user_lat'] = lat
    data['user_long'] = long
    data['distance_m'] = data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    X_predict = data.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m', 'academy_name']].reset_index(drop = True)
    X_predict = X_predict[X_predict['distance_m']<=25000]
    X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']] = scaler.fit_transform(X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']])
    return X_predict

In [27]:
예측data = 전처리_pred(lat = 36, long = 127, 학원data = 학원data, scaler = scaler)
예측data

KeyError: "['academy_name'] not in index"

In [28]:
예측data['prob'] = logistic_model.predict_proba(예측data.loc[:, select_cols])[:, 1]
예측data

NameError: name '예측data' is not defined

In [29]:
예측data['prob'].unique()[0]

NameError: name '예측data' is not defined

In [30]:
max_a_row = 예측data[예측data['prob'] == 예측data['prob'].max()]
b_value = max_a_row['academy_name'].values[0]
b_value

NameError: name '예측data' is not defined

In [31]:
예측data['prob'].unique()[0] == 0

NameError: name '예측data' is not defined

In [32]:
logistic_model.predict_proba(예측data.loc[:, select_cols])

NameError: name '예측data' is not defined

In [33]:
학원data.to_csv('models/academy_data.csv')

In [36]:
학원data

,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,academy_name,academy_id,state
2,37.313368,127.894369,858000,4.5,4.5,4.0,흥업,NFKwhqUvdDIxYdtyIOE8,1
19,33.403296,126.385747,753500,5.0,5.0,4.0,현대,D2sqPHdqrmuerQurjyWx,1
40,37.915150,127.215152,735000,4.5,4.5,4.5,행운,Vm0ZEDAayHs7kWTJAA7L,1
41,37.553446,126.745293,829500,4.7,4.7,4.7,한양,yJkJwLkccYWWEPqdZoAa,1
70,37.803839,127.098241,737000,4.5,4.4,4.1,한미,Ct8H8g2g21PrEt4DHUoH,1
...,...,...,...,...,...,...,...,...,...
4046,37.243791,126.960612,781000,4.0,4.0,3.0,뉴삼성,ev8fqjckrB7wpRXjm4wC,0
4053,36.999993,127.187660,836000,4.5,5.0,4.5,공도삼성,HNK4OMPZs95JJr1CgUH7,0
4057,37.717709,126.475939,797500,5.0,5.0,4.5,강화,LyNBLYCry6lJiG3SGmFG,0
4066,37.017053,127.135576,834000,4.0,4.0,4.0,e편한,b4agfudCSZPdVjRCb5bZ,0
4068,37.145654,127.141742,789000,5.0,5.0,5.0,e동탄,C6KXw5pqsZCKO22Ko3Qv,0

In [35]:
학원data = data.loc[:, ['academy_lat', 'academy_long']+['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']+['academy_name','academy_id', 'state']].drop_duplicates()
학원data['academy_id'] = 학원data['academy_id'].map(int_to_value)
학원data.to_csv('models/academy_data.csv')

In [ ]:
value_to_int = {value: idx for idx, value in enumerate(data['academy_name'].unique())}

int_to_value = {idx: value for value, idx in value_to_int.items()}
학원data['academy_name'] = 학원data['academy_name'].map(int_to_value)
학원data

In [ ]:
def 전처리_pred(lat, long, 학원data, scaler):
    data = 학원data.copy()
    data['user_lat'] = lat
    data['user_long'] = long
    data['distance_m'] = data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    X_predict = data.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m', 'academy_name']]
    X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']] = scaler.fit_transform(X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']])
    return X_predict

In [ ]:
cross_joined_data['label'].value_counts()

In [ ]:
cross_joined_data

In [ ]:
cross_joined_data['requested_at'] == data['requested_at']

In [ ]:
data['requested_at']