In [1]:
import pandas as pd

해당 파일은 모든 예약건을 포함하고 있습니다.
1. 리뷰 기능 배포가 5월 10일이었습니다. requestedAt기준으로 5월 11일 이후 데이터를 이용해 주시면 됩니다.
2. 데이터가 적다고 생각되신다면 학원 변동 사항이 적은 아래 날짜 기준으로 짤라서 부탁드리겠습니다.
   - 3월 1일 이후
   - 11월 16일 이후

감사합니다!

In [2]:
# data = pd.read_excel('data/academy_data_v240613.xlsx')
# data

In [3]:
# data.to_csv('data/data.csv')

In [4]:
data = pd.read_csv('data/data.csv', index_col = 0)
data

,user_id,user_address,requested_at,academy_id,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
0,ZlsHmGdgcqWAAt9L9rzJWPpraSd2,"전북 군산시 하나운2길 15 (나운동, 나운 금호어울림 센트럴)",2024-01-08 01:22:51.225000 UTC,hnZqfcO3MsDd5ATKKuGu,퍼스트,35.976116,126.783386,720000,4.3,4.3,3.0,35.968093,126.696857,1,1
1,zgnQ4iRUqLTd0XjbpEn4ekbtZuP2,"울산 중구 우정2길 45 (우정동, 우정 I'PARK)",2023-12-06 04:19:10.639000 UTC,kMRcWI5OsWcvD656dYDq,신삼성,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,1
2,zgnQ4iRUqLTd0XjbpEn4ekbtZuP2,"울산 중구 우정2길 45 (우정동, 우정 I'PARK)",2023-12-05 07:10:20.356000 UTC,kMRcWI5OsWcvD656dYDq,신삼성,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,1
3,zF2YyfdjdsbtHiGwqs6tQdQd4Po1,"서울 도봉구 해등로 118 (창동, 상아1차아파트)",2024-05-12 13:13:16.291000 UTC,aL1qG0sqv4OmscS55Xpz,창동,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,1
4,zF2YyfdjdsbtHiGwqs6tQdQd4Po1,"서울 도봉구 해등로 118 (창동, 상아1차아파트)",2024-06-02 10:47:58.428000 UTC,aL1qG0sqv4OmscS55Xpz,창동,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3247,NaN,NaN,NaN,166gqvaZPw6dSzvPcnvS,제주,33.478217,126.529682,764500,4.5,4.0,4.5,NaN,NaN,1,1
3248,NaN,NaN,NaN,nA9yEigd1nZzerPkmUzn,대영,36.818990,128.640858,760000,5.0,5.0,4.0,NaN,NaN,1,0
3249,NaN,NaN,NaN,WD3cKGbZkNJAdjRpaMHr,동송,38.178159,127.228038,690000,4.5,4.0,4.5,NaN,NaN,1,0
3250,NaN,NaN,NaN,E30b63pCC93CHaIJ2ued,중앙,36.147481,128.285927,765600,4.5,4.5,5.0,NaN,NaN,1,0
3251,NaN,NaN,NaN,zSJnibWFWGV5MYgmTgz5,신삼천,35.777400,127.102844,762000,5.0,5.0,4.5,NaN,NaN,1,0

In [5]:
dd = data[data['user_lat'].isna()]
dd = dd.reset_index(drop = True)
dd

,user_id,user_address,requested_at,academy_id,academy_name,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,state
0,NaN,NaN,NaN,blzVkLYZ3ykUvjTGV4qV,중앙,36.966202,127.851215,735000,4.5,4.5,5.0,NaN,NaN,1,1
1,NaN,NaN,NaN,Vm0ZEDAayHs7kWTJAA7L,행운,37.915111,127.215130,720000,4.0,5.0,4.0,NaN,NaN,1,1
2,NaN,NaN,NaN,ljMjkasNYUKX2MreTLqC,우리,37.804567,127.486804,698000,5.0,4.0,5.0,NaN,NaN,1,1
3,NaN,NaN,NaN,AcVZTJTc5NEzgWDrvkTz,명문,36.272087,126.959887,803000,5.0,5.0,5.0,NaN,NaN,1,1
4,NaN,NaN,NaN,mekPVnojYTUXaASkfPFp,나래,37.712666,127.916355,796500,4.5,5.0,4.5,NaN,NaN,1,1
5,NaN,NaN,NaN,gHH8WrLWOvh3R2chpxmL,삼척,37.441340,129.127932,847000,5.0,4.0,5.0,NaN,NaN,1,1
6,NaN,NaN,NaN,qaHvS0nLSw77NZDCmDRj,용화,36.768741,126.992597,885500,5.0,4.5,3.5,NaN,NaN,1,1
7,NaN,NaN,NaN,ZJawK6iLTTE4mYm4ndy9,원영,33.272518,126.690385,789800,4.5,5.0,5.0,NaN,NaN,1,1
8,NaN,NaN,NaN,kn8KqjFl7CoYJccHbHVV,강릉,37.849548,128.844298,720500,4.5,4.5,5.0,NaN,NaN,1,1
9,NaN,NaN,NaN,m99lBNgA6GCn0rwF4fqY,한신,37.666207,126.653593,825000,4.5,4.5,4.5,NaN,NaN,1,1
10,NaN,NaN,NaN,P1wqYukJHxIASdr6jRPy,연천,38.062169,127.082701,750000,5.0,5.0,4.5,NaN,NaN,1,1
11,NaN,NaN,NaN,z5NDkv4bqsOVF5i0KEHy,하예서부,37.838888,126.819150,833800,5.0,5.0,5.0,NaN,NaN,1,1
12,NaN,NaN,NaN,166gqvaZPw6dSzvPcnvS,제주,33.478217,126.529682,764500,4.5,4.0,4.5,NaN,NaN,1,1
13,NaN,NaN,NaN,nA9yEigd1nZzerPkmUzn,대영,36.818990,128.640858,760000,5.0,5.0,4.0,NaN,NaN,1,0
14,NaN,NaN,NaN,WD3cKGbZkNJAdjRpaMHr,동송,38.178159,127.228038,690000,4.5,4.0,4.5,NaN,NaN,1,0
15,NaN,NaN,NaN,E30b63pCC93CHaIJ2ued,중앙,36.147481,128.285927,765600,4.5,4.5,5.0,NaN,NaN,1,0
16,NaN,NaN,NaN,zSJnibWFWGV5MYgmTgz5,신삼천,35.777400,127.102844,762000,5.0,5.0,4.5,NaN,NaN,1,0

In [6]:
data = data.loc[:, ['requested_at', 'academy_lat', 'academy_long', 'lesson_price',
 'service_rate',
 'lecutre_rate',
 'facility_rate',
 'user_lat',
 'user_long',
 'reserve', 'academy_name', 'academy_id', 'state']]
data = data[data['reserve'] == 1].reset_index(drop = True)
data['requested_at'] = pd.to_datetime(data['requested_at'], utc = True)
data['requested_at'] = data['requested_at'].dt.tz_convert('Asia/Seoul')
data = data[data['requested_at'] >= pd.to_datetime('2023-05-11').tz_localize('Asia/Seoul')].reset_index(drop = True)
data

,requested_at,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,academy_name,academy_id,state
0,2024-01-08 10:22:51.225000+09:00,35.976116,126.783386,720000,4.3,4.3,3.0,35.968093,126.696857,1,퍼스트,hnZqfcO3MsDd5ATKKuGu,1
1,2023-12-06 13:19:10.639000+09:00,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,신삼성,kMRcWI5OsWcvD656dYDq,1
2,2023-12-05 16:10:20.356000+09:00,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,신삼성,kMRcWI5OsWcvD656dYDq,1
3,2024-05-12 22:13:16.291000+09:00,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,창동,aL1qG0sqv4OmscS55Xpz,1
4,2024-06-02 19:47:58.428000+09:00,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,창동,aL1qG0sqv4OmscS55Xpz,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3223,2023-11-29 20:05:03.954000+09:00,35.909670,128.624468,737000,4.6,4.5,4.2,35.868414,128.639174,1,청구,tgAyP4WIv2IODXQhVRIh,1
3224,2024-01-16 10:46:54.520000+09:00,37.803846,127.098245,736000,4.5,4.4,4.1,37.806506,127.094502,1,한미,Ct8H8g2g21PrEt4DHUoH,1
3225,2024-01-11 12:39:17.797000+09:00,35.895996,128.546446,738000,4.2,4.2,4.2,35.936443,128.565590,1,동양,QLN0dYXZ1hHPjiTD4iw9,1
3226,2023-12-29 10:53:56.216000+09:00,37.803846,127.098245,736000,4.5,4.4,4.1,37.735772,127.113832,1,한미,Ct8H8g2g21PrEt4DHUoH,1
3227,2024-04-17 11:57:32.167000+09:00,37.312463,127.451292,850000,4.5,4.5,4.5,37.258939,127.468005,1,이천제일,XfY9MvZuXlCeWpreDe1c,1

In [7]:
data

,requested_at,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,academy_name,academy_id,state
0,2024-01-08 10:22:51.225000+09:00,35.976116,126.783386,720000,4.3,4.3,3.0,35.968093,126.696857,1,퍼스트,hnZqfcO3MsDd5ATKKuGu,1
1,2023-12-06 13:19:10.639000+09:00,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,신삼성,kMRcWI5OsWcvD656dYDq,1
2,2023-12-05 16:10:20.356000+09:00,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,신삼성,kMRcWI5OsWcvD656dYDq,1
3,2024-05-12 22:13:16.291000+09:00,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,창동,aL1qG0sqv4OmscS55Xpz,1
4,2024-06-02 19:47:58.428000+09:00,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,창동,aL1qG0sqv4OmscS55Xpz,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3223,2023-11-29 20:05:03.954000+09:00,35.909670,128.624468,737000,4.6,4.5,4.2,35.868414,128.639174,1,청구,tgAyP4WIv2IODXQhVRIh,1
3224,2024-01-16 10:46:54.520000+09:00,37.803846,127.098245,736000,4.5,4.4,4.1,37.806506,127.094502,1,한미,Ct8H8g2g21PrEt4DHUoH,1
3225,2024-01-11 12:39:17.797000+09:00,35.895996,128.546446,738000,4.2,4.2,4.2,35.936443,128.565590,1,동양,QLN0dYXZ1hHPjiTD4iw9,1
3226,2023-12-29 10:53:56.216000+09:00,37.803846,127.098245,736000,4.5,4.4,4.1,37.735772,127.113832,1,한미,Ct8H8g2g21PrEt4DHUoH,1
3227,2024-04-17 11:57:32.167000+09:00,37.312463,127.451292,850000,4.5,4.5,4.5,37.258939,127.468005,1,이천제일,XfY9MvZuXlCeWpreDe1c,1

In [8]:
df_nulls = data[data.isnull().any(axis=1)]
df_nulls

Empty DataFrame
Columns: [requested_at, academy_lat, academy_long, lesson_price, service_rate, lecutre_rate, facility_rate, user_lat, user_long, reserve, academy_name, academy_id, state]
Index: []

In [9]:
print('평점 null인 학원 수: ', len(df_nulls.groupby(['academy_lat', 'academy_long']).size().reset_index(name='count')))
print('평점 있는 학원 수: ', len(data.dropna().groupby(['academy_lat', 'academy_long']).size().reset_index(name='count')))

평점 null인 학원 수:  0
평점 있는 학원 수:  77

보간법으로 null 매구기에는 평점 있는 학원에 비해 없는 학원 수가 너무 많아 그냥 제거

In [10]:
data = data.dropna().reset_index(drop = True)
data

,requested_at,academy_lat,academy_long,lesson_price,service_rate,lecutre_rate,facility_rate,user_lat,user_long,reserve,academy_name,academy_id,state
0,2024-01-08 10:22:51.225000+09:00,35.976116,126.783386,720000,4.3,4.3,3.0,35.968093,126.696857,1,퍼스트,hnZqfcO3MsDd5ATKKuGu,1
1,2023-12-06 13:19:10.639000+09:00,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,신삼성,kMRcWI5OsWcvD656dYDq,1
2,2023-12-05 16:10:20.356000+09:00,35.532730,129.337132,731500,4.0,4.0,4.0,35.561523,129.309664,1,신삼성,kMRcWI5OsWcvD656dYDq,1
3,2024-05-12 22:13:16.291000+09:00,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,창동,aL1qG0sqv4OmscS55Xpz,1
4,2024-06-02 19:47:58.428000+09:00,37.659907,127.043159,759000,4.6,4.3,3.9,37.654083,127.042187,1,창동,aL1qG0sqv4OmscS55Xpz,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3223,2023-11-29 20:05:03.954000+09:00,35.909670,128.624468,737000,4.6,4.5,4.2,35.868414,128.639174,1,청구,tgAyP4WIv2IODXQhVRIh,1
3224,2024-01-16 10:46:54.520000+09:00,37.803846,127.098245,736000,4.5,4.4,4.1,37.806506,127.094502,1,한미,Ct8H8g2g21PrEt4DHUoH,1
3225,2024-01-11 12:39:17.797000+09:00,35.895996,128.546446,738000,4.2,4.2,4.2,35.936443,128.565590,1,동양,QLN0dYXZ1hHPjiTD4iw9,1
3226,2023-12-29 10:53:56.216000+09:00,37.803846,127.098245,736000,4.5,4.4,4.1,37.735772,127.113832,1,한미,Ct8H8g2g21PrEt4DHUoH,1
3227,2024-04-17 11:57:32.167000+09:00,37.312463,127.451292,850000,4.5,4.5,4.5,37.258939,127.468005,1,이천제일,XfY9MvZuXlCeWpreDe1c,1

In [11]:
from src.util import generate_random_locations
import numpy as np
k = len(data)
for i in range(len(dd)):
    locs = generate_random_locations([dd.loc[i, 'academy_lat'], dd.loc[i, 'academy_long']], 
                                     num_samples=10, min_distance_km=1, max_distance_km=24)

    for j in range(len(locs)):
        data.loc[k, 'requested_at'] = np.random.choice(data['requested_at'])
        data.loc[k, 'academy_lat'] = dd.loc[i, 'academy_lat']
        data.loc[k, 'academy_long'] = dd.loc[i, 'academy_long']
        data.loc[k, 'user_lat'] = locs[j][0]
        data.loc[k, 'user_long'] = locs[j][1]
        data.loc[k, 'lesson_price'] = dd.loc[i, 'lesson_price']
        data.loc[k, 'service_rate'] = dd.loc[i, 'service_rate']
        data.loc[k, 'lecutre_rate'] = dd.loc[i, 'lecutre_rate']
        data.loc[k, 'facility_rate'] = dd.loc[i, 'facility_rate']
        data.loc[k, 'academy_name'] = dd.loc[i, 'academy_name']
        data.loc[k, 'academy_id'] = dd.loc[i, 'academy_id']
        data.loc[k, 'state'] = dd.loc[i, 'state']
        k += 1

In [12]:
from src.util import haversine

# 각 행에 대해 거리 계산
data['distance_m'] = data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
data = data.loc[:, ['requested_at', 'academy_lat', 'academy_long', 'user_lat', 'user_long', 'lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m', 'academy_name', 'academy_id', 'state']]
data

,requested_at,academy_lat,academy_long,user_lat,user_long,lesson_price,service_rate,lecutre_rate,facility_rate,distance_m,academy_name,academy_id,state
0,2024-01-08 10:22:51.225000+09:00,35.976116,126.783386,35.968093,126.696857,720000.0,4.3,4.3,3.0,7837.736365,퍼스트,hnZqfcO3MsDd5ATKKuGu,1.0
1,2023-12-06 13:19:10.639000+09:00,35.532730,129.337132,35.561523,129.309664,731500.0,4.0,4.0,4.0,4052.985523,신삼성,kMRcWI5OsWcvD656dYDq,1.0
2,2023-12-05 16:10:20.356000+09:00,35.532730,129.337132,35.561523,129.309664,731500.0,4.0,4.0,4.0,4052.985523,신삼성,kMRcWI5OsWcvD656dYDq,1.0
3,2024-05-12 22:13:16.291000+09:00,37.659907,127.043159,37.654083,127.042187,759000.0,4.6,4.3,3.9,653.233223,창동,aL1qG0sqv4OmscS55Xpz,1.0
4,2024-06-02 19:47:58.428000+09:00,37.659907,127.043159,37.654083,127.042187,759000.0,4.6,4.3,3.9,653.233223,창동,aL1qG0sqv4OmscS55Xpz,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3393,2024-01-30 14:40:27.704000+09:00,35.777400,127.102844,35.827020,127.221243,762000.0,5.0,5.0,4.5,12018.940902,신삼천,zSJnibWFWGV5MYgmTgz5,0.0
3394,2024-06-05 16:25:08.182000+09:00,35.777400,127.102844,35.754954,127.071732,762000.0,5.0,5.0,4.5,3756.191155,신삼천,zSJnibWFWGV5MYgmTgz5,0.0
3395,2024-02-28 15:42:05.630000+09:00,35.777400,127.102844,35.826384,127.223215,762000.0,5.0,5.0,4.5,12145.396524,신삼천,zSJnibWFWGV5MYgmTgz5,0.0
3396,2023-12-20 09:38:18.142000+09:00,35.777400,127.102844,35.696820,127.157778,762000.0,5.0,5.0,4.5,10240.454983,신삼천,zSJnibWFWGV5MYgmTgz5,0.0
3397,2024-02-04 12:24:58.553000+09:00,35.777400,127.102844,35.737085,127.139688,762000.0,5.0,5.0,4.5,5581.131445,신삼천,zSJnibWFWGV5MYgmTgz5,0.0

In [13]:
value_to_int = {value: idx for idx, value in enumerate(data['academy_id'].unique())}
int_to_value = {idx: value for value, idx in value_to_int.items()}
value_to_int

{'hnZqfcO3MsDd5ATKKuGu': 0,
 'kMRcWI5OsWcvD656dYDq': 1,
 'aL1qG0sqv4OmscS55Xpz': 2,
 'M3iAmzacROKlcOaVAsk5': 3,
 'Ct8H8g2g21PrEt4DHUoH': 4,
 'u6WfsKt7CroUmhG7mf54': 5,
 'tgAyP4WIv2IODXQhVRIh': 6,
 'YNwzLg7D7cydDUHkSTUS': 7,
 '35CDpdcufRMPuCTiLEhG': 8,
 'ndbdRgTrbGsZ9Anphtbp': 9,
 'sVLpxoCFbiqY9eP9RFoc': 10,
 'XfY9MvZuXlCeWpreDe1c': 11,
 'QLN0dYXZ1hHPjiTD4iw9': 12,
 '593fExEwBSRe1vMmMbC7': 13,
 'Jeffzuu815rTpZTFw12N': 14,
 'hAllqm62rvWkKbIWGHEf': 15,
 '3mi3ZvqYS275OuGAumFN': 16,
 'C6KXw5pqsZCKO22Ko3Qv': 17,
 '6qZWlt4osq55zHzbMGar': 18,
 'AKNmDow32mnrmGsEcOyx': 19,
 'PccbtqKkN7Vx8kBcWGop': 20,
 'IKpZZH9jcSMEGH1sQ2iY': 21,
 'z9DeYip6mGzbwIkmzb20': 22,
 'HNK4OMPZs95JJr1CgUH7': 23,
 'jV8NSCZ8tOhWPiE0tgh7': 24,
 'D2sqPHdqrmuerQurjyWx': 25,
 'H0Zl09Zy1e3TJ8IrUNGK': 26,
 '5X0f10OuqeKaUmHFzCQG': 27,
 'wlc9HvFqiHUF3ASuWePJ': 28,
 'pcjzyjHkbKDEtXz2WgFX': 29,
 'Fm7K8G84yGhx5afH7Zhn': 30,
 'FPM9ycTzLmFTSDJg5ull': 31,
 'b4agfudCSZPdVjRCb5bZ': 32,
 'rZwEF7XiAC7pzSiUFk5z': 33,
 '1yyMKNljZeSCdsTbBp2i': 34,
 '25lOXfYij7y8XQsGJAIZ': 35,
 'Xk2vFSzz4CVOC7AArtWw': 36,
 'CxFj5h6O0f8uCuDrkHEe': 37,
 'xssGISppalk7lLraIlQo': 38,
 'G8QnGz7vJWwsGBEzOfEL': 39,
 '4Yr8UZBubJ9gpVeNVKtB': 40,
 'BXNsrqF6jUE1r3E8h0oA': 41,
 'sNgSGFeNHBorptP3tcep': 42,
 'XvCJB3liPUakH1R98UkR': 43,
 'QTuqfLh60OcObFaSrvKV': 44,
 'lpy74wUkALu0cbuNhoxj': 45,
 'SHF2rCT8jxWOWiSk4KMS': 46,
 'Pi8o2tGE3v819jOjfwoD': 47,
 '02GtHnCzNTp3Req62tNd': 48,
 'UPelWpMgnDVn0Xt5mb0y': 49,
 '4JdmwYWHSVROausQGFbv': 50,
 'VioGYtKvrhBYVE0idQYc': 51,
 'XCLY6VTwhknVccKSBxTn': 52,
 '9vrkyRzJJPWj4CuRUp70': 53,
 'pYLxlFj7QMVzRVpk5gar': 54,
 '7TMTGmecRjTAMxa5LVst': 55,
 'khkpaweAjBOtMSTGVVQZ': 56,
 'HyZcALCiY48myKdcrhvI': 57,
 'IU6S2KXuyLTuNpgSfrNk': 58,
 'fu8ErVoVe0JGFqbzfU2x': 59,
 'ev8fqjckrB7wpRXjm4wC': 60,
 'NPpo62Ddk5tmXQGAAcbb': 61,
 'hvwNKwBBnzKmIMUB4fUv': 62,
 'XR1bcuHAUm4F9MRsCr68': 63,
 'yJkJwLkccYWWEPqdZoAa': 64,
 'InqsH7gyOaa65kdbr3f3': 65,
 'O667ARxZgaaH9SGNlT5E': 66,
 'CQGj52KRB8BRoXuXRl2M': 67,
 'mkUDWq7HcMZ09cM7DZ8i': 68,
 'NFKwhqUvdDIxYdtyIOE8': 69,
 'IdiE9ngLqYWDY4MW0Td0': 70,
 'Hrp3UaKotnkUafCFKx3D': 71,
 'LyNBLYCry6lJiG3SGmFG': 72,
 '6Q5jPIu3xhVA4JSqcDco': 73,
 'hdToluff9us5ghFgC3MZ': 74,
 'homCBU2h2Yg7p6berPax': 75,
 'QeWBbKVOrlqVu81EcXI9': 76,
 'blzVkLYZ3ykUvjTGV4qV': 77,
 'Vm0ZEDAayHs7kWTJAA7L': 78,
 'ljMjkasNYUKX2MreTLqC': 79,
 'AcVZTJTc5NEzgWDrvkTz': 80,
 'mekPVnojYTUXaASkfPFp': 81,
 'gHH8WrLWOvh3R2chpxmL': 82,
 'qaHvS0nLSw77NZDCmDRj': 83,
 'ZJawK6iLTTE4mYm4ndy9': 84,
 'kn8KqjFl7CoYJccHbHVV': 85,
 'm99lBNgA6GCn0rwF4fqY': 86,
 'P1wqYukJHxIASdr6jRPy': 87,
 'z5NDkv4bqsOVF5i0KEHy': 88,
 '166gqvaZPw6dSzvPcnvS': 89,
 'nA9yEigd1nZzerPkmUzn': 90,
 'WD3cKGbZkNJAdjRpaMHr': 91,
 'E30b63pCC93CHaIJ2ued': 92,
 'zSJnibWFWGV5MYgmTgz5': 93}

In [14]:
data['academy_id'].value_counts()

academy_id
u6WfsKt7CroUmhG7mf54    405
tgAyP4WIv2IODXQhVRIh    333
Ct8H8g2g21PrEt4DHUoH    328
YNwzLg7D7cydDUHkSTUS    299
XfY9MvZuXlCeWpreDe1c    223
                       ...
4Yr8UZBubJ9gpVeNVKtB      1
1yyMKNljZeSCdsTbBp2i      1
pcjzyjHkbKDEtXz2WgFX      1
wlc9HvFqiHUF3ASuWePJ      1
CQGj52KRB8BRoXuXRl2M      1
Name: count, Length: 94, dtype: int64

In [15]:
data['academy_id'] = data['academy_id'].map(value_to_int)
data

,requested_at,academy_lat,academy_long,user_lat,user_long,lesson_price,service_rate,lecutre_rate,facility_rate,distance_m,academy_name,academy_id,state
0,2024-01-08 10:22:51.225000+09:00,35.976116,126.783386,35.968093,126.696857,720000.0,4.3,4.3,3.0,7837.736365,퍼스트,0,1.0
1,2023-12-06 13:19:10.639000+09:00,35.532730,129.337132,35.561523,129.309664,731500.0,4.0,4.0,4.0,4052.985523,신삼성,1,1.0
2,2023-12-05 16:10:20.356000+09:00,35.532730,129.337132,35.561523,129.309664,731500.0,4.0,4.0,4.0,4052.985523,신삼성,1,1.0
3,2024-05-12 22:13:16.291000+09:00,37.659907,127.043159,37.654083,127.042187,759000.0,4.6,4.3,3.9,653.233223,창동,2,1.0
4,2024-06-02 19:47:58.428000+09:00,37.659907,127.043159,37.654083,127.042187,759000.0,4.6,4.3,3.9,653.233223,창동,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3393,2024-01-30 14:40:27.704000+09:00,35.777400,127.102844,35.827020,127.221243,762000.0,5.0,5.0,4.5,12018.940902,신삼천,93,0.0
3394,2024-06-05 16:25:08.182000+09:00,35.777400,127.102844,35.754954,127.071732,762000.0,5.0,5.0,4.5,3756.191155,신삼천,93,0.0
3395,2024-02-28 15:42:05.630000+09:00,35.777400,127.102844,35.826384,127.223215,762000.0,5.0,5.0,4.5,12145.396524,신삼천,93,0.0
3396,2023-12-20 09:38:18.142000+09:00,35.777400,127.102844,35.696820,127.157778,762000.0,5.0,5.0,4.5,10240.454983,신삼천,93,0.0
3397,2024-02-04 12:24:58.553000+09:00,35.777400,127.102844,35.737085,127.139688,762000.0,5.0,5.0,4.5,5581.131445,신삼천,93,0.0

In [16]:
data = data[data['distance_m'] <= 25000]

In [17]:
import numpy as np
def haversine(lat1, lon1, lat2, lon2):
    R = 6371000  # 지구의 반지름 (미터 단위)
    phi1 = np.radians(lat1)
    phi2 = np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)
    
    a = np.sin(delta_phi / 2) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    distance = R * c  # 미터 단위 거리
    return distance

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
import numpy as np
import itertools
import ray
ray.init(num_cpus = 5)
cols = ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']

all_subsets = []
for i in range(0, len(cols) + 1):
    subsets = list(itertools.combinations(cols, i))
    all_subsets.extend(subsets)
# # 부분집합 순서 반대로
# all_subsets = all_subsets[::-1]
@ray.remote
def process_fold(train_index, test_index, X, y, select_cols):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]

    유저data = X_train.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_train.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_train = X_train.copy()
    X_train.loc[:, 'label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_train,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    # cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_train = cross_joined_data.loc[:, select_cols]
    y_train = cross_joined_data['label']

    유저data = X_test.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_test.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_test = X_test.copy()
    X_test['label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_test,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_test = cross_joined_data.loc[:, select_cols]
    y_test = cross_joined_data['label']
    
    # 표준화 전처리
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # 클래스 가중치 계산
    class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
    class_weight_dict = {i: class_weights[i] for i in range(len(class_weights))}

    # 로지스틱 회귀 모델 학습
    logistic_model = LogisticRegression(class_weight=class_weight_dict, random_state=42)
    logistic_model.fit(X_train_scaled, y_train)

    # 랜덤 포레스트 모델 학습
    rf_model = RandomForestClassifier(class_weight=class_weight_dict, random_state=42, max_depth=10, n_jobs = -1)
    rf_model.fit(X_train, y_train)

    # 로지스틱 회귀 모델 예측 및 평가
    y_pred_logistic = logistic_model.predict(X_test_scaled)
    precision_logistic = precision_score(y_test, y_pred_logistic)
    f1_logistic = f1_score(y_test, y_pred_logistic)

    y_pred_rf = rf_model.predict(X_test)
    precision_rf = precision_score(y_test, y_pred_rf)
    f1_rf = f1_score(y_test, y_pred_rf)

    return precision_logistic, f1_logistic, precision_rf, f1_rf
total_results = []
for subset in all_subsets:
    select_cols = list(subset) + ['distance_m']
    print(select_cols)

    X = data.loc[:, ['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long', 'academy_id'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']]
    y = data['academy_id']
    X_ref = ray.put(X)
    y_ref = ray.put(y)
    skf = StratifiedKFold(n_splits=5)
    
    futures = []
    for train_index, test_index in skf.split(X, y):
        futures.append(process_fold.remote(train_index, test_index, X_ref, y_ref, select_cols))
    
    results = ray.get(futures)
    
    rf_f1 = [result[3] for result in results]
    logi_f1 = [result[1] for result in results]
    rf_pre = [result[2] for result in results]
    logi_pre = [result[0] for result in results]
    total_results.append([select_cols, {'precision_logistic': np.mean(logi_pre), 'precision_rf': np.mean(rf_pre), 'f1_logistic': np.mean(logi_f1), 'f1_rf': np.mean(rf_f1)}])
    
    print('precision_logistic', np.mean(logi_pre))
    print('precision_rf', np.mean(rf_pre))
    print('f1_logistic', np.mean(logi_f1))
    print('f1_rf', np.mean(rf_f1))
    print()

ray.shutdown()

2024-06-13 17:16:54,184	INFO worker.py:1752 -- Started a local Ray instance.

['distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2002635118340647
precision_rf 0.22789305409031374
f1_logistic 0.3327094633979172
f1_rf 0.36774002878403367

['lesson_price', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2002675025292946
precision_rf 0.3147903722506561
f1_logistic 0.3327140024458888
f1_rf 0.4730542069559907

['service_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20236715785647705
precision_rf 0.2540675740387835
f1_logistic 0.3356941350925954
f1_rf 0.4005624961526964

['lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2015064878672582
precision_rf 0.2398618660213095
f1_logistic 0.3345465729475677
f1_rf 0.38266836464006815

['facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20102812190995095
precision_rf 0.26853308738364934
f1_logistic 0.3338041331506342
f1_rf 0.4187055699509874

['lesson_price', 'service_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20229814337836585
precision_rf 0.3260339471039935
f1_logistic 0.3356187468268048
f1_rf 0.48623217043628947

['lesson_price', 'lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20150874137382896
precision_rf 0.3243643761414357
f1_logistic 0.334545964908302
f1_rf 0.48459627690061363

['lesson_price', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2012145559273016
precision_rf 0.33137877070578337
f1_logistic 0.3340602241622453
f1_rf 0.49270336912279705

['service_rate', 'lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20284456221285643
precision_rf 0.2837076652586651
f1_logistic 0.3364221848237878
f1_rf 0.4355385007067566

['service_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2021484275842059
precision_rf 0.2997421737582658
f1_logistic 0.3353948990311887
f1_rf 0.45478879608327744

['lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20152234953148634
precision_rf 0.3026607753081434
f1_logistic 0.33458648586530415
f1_rf 0.45861146618293497

['lesson_price', 'service_rate', 'lecutre_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20291102378901135
precision_rf 0.3274603871848728
f1_logistic 0.33653199520456994
f1_rf 0.4875500741333732

['lesson_price', 'service_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20205920254045653
precision_rf 0.3354783204914443
f1_logistic 0.3352900903533538
f1_rf 0.49685185497411466

['lesson_price', 'lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.2015161232361064
precision_rf 0.33328034332209067
f1_logistic 0.3345783452279969
f1_rf 0.4945147660949775

['service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20255273983911293
precision_rf 0.3178499145227646
f1_logistic 0.3360038644934051
f1_rf 0.4760387645961199

['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.20242328853516578
precision_rf 0.3321148837492782
f1_logistic 0.33582503409949105
f1_rf 0.4930405583431354

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
import numpy as np
import itertools
import ray
ray.init(num_cpus = 5)
cols = ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']

all_subsets = []
for i in range(1, len(cols) + 1):
    subsets = list(itertools.combinations(cols, i))
    all_subsets.extend(subsets)
# # 부분집합 순서 반대로
# all_subsets = all_subsets[::-1]
@ray.remote
def process_fold(train_index, test_index, X, y, select_cols):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]

    유저data = X_train.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_train.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_train = X_train.copy()
    X_train.loc[:, 'label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_train,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    # cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_train = cross_joined_data.loc[:, select_cols]
    y_train = cross_joined_data['label']

    유저data = X_test.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
    학원data = X_test.loc[:, ['academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id']].drop_duplicates()
    유저data['key'] = 0
    학원data['key'] = 0

    cross_joined_data = pd.merge(유저data, 학원data, on='key').drop('key', axis=1)
    X_test = X_test.copy()
    X_test['label'] = 1
    cross_joined_data = pd.merge(cross_joined_data, X_test,
                                 on=['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate'] + ['academy_id'],
                                 how='left')
    cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
    cross_joined_data['distance_m'] = cross_joined_data.apply(
        lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    cross_joined_data = cross_joined_data[cross_joined_data['distance_m'] <= 25000]
    X_test = cross_joined_data.loc[:, select_cols]
    y_test = cross_joined_data['label']

    # 표준화 전처리
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # 클래스 가중치 계산
    class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
    class_weight_dict = {i: class_weights[i] for i in range(len(class_weights))}

    # 로지스틱 회귀 모델 학습
    logistic_model = LogisticRegression(class_weight=class_weight_dict, random_state=42)
    logistic_model.fit(X_train_scaled, y_train)

    # 랜덤 포레스트 모델 학습
    rf_model = RandomForestClassifier(class_weight=class_weight_dict, random_state=42, max_depth=10, n_jobs = -1)
    rf_model.fit(X_train, y_train)

    # 로지스틱 회귀 모델 예측 및 평가
    y_pred_logistic = logistic_model.predict(X_test_scaled)
    precision_logistic = precision_score(y_test, y_pred_logistic)
    f1_logistic = f1_score(y_test, y_pred_logistic)

    y_pred_rf = rf_model.predict(X_test)
    precision_rf = precision_score(y_test, y_pred_rf)
    f1_rf = f1_score(y_test, y_pred_rf)

    return precision_logistic, f1_logistic, precision_rf, f1_rf

for subset in all_subsets:
    select_cols = list(subset)
    select_cols = sorted(select_cols)
    print(select_cols)

    X = data.loc[:, ['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long', 'academy_id'] + ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']]
    y = data['academy_id']
    X_ref = ray.put(X)
    y_ref = ray.put(y)
    skf = StratifiedKFold(n_splits=5)
    
    futures = []
    for train_index, test_index in skf.split(X, y):
        futures.append(process_fold.remote(train_index, test_index, X_ref, y_ref, select_cols))
    
    results = ray.get(futures)
    
    rf_f1 = [result[3] for result in results]
    logi_f1 = [result[1] for result in results]
    rf_pre = [result[2] for result in results]
    logi_pre = [result[0] for result in results]
    total_results.append([select_cols, {'precision_logistic': np.mean(logi_pre), 'precision_rf': np.mean(rf_pre), 'f1_logistic': np.mean(logi_f1), 'f1_rf': np.mean(rf_f1)}])
    print('precision_logistic', np.mean(logi_pre))
    print('precision_rf', np.mean(rf_pre))
    print('f1_logistic', np.mean(logi_f1))
    print('f1_rf', np.mean(rf_f1))
    print()

ray.shutdown()

2024-06-13 17:21:23,329	INFO worker.py:1752 -- Started a local Ray instance.

['lesson_price']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17874986606838492
precision_rf 0.24561127435108113
f1_logistic 0.28618742913583073
f1_rf 0.36493312145013646

['service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.12755647897267738
precision_rf 0.20688255483647094
f1_logistic 0.18919829513878142
f1_rf 0.32790418892402995

['lecutre_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.1774253687613667
precision_rf 0.23113187805836571
f1_logistic 0.26733892836737205
f1_rf 0.3546761217371752

['facility_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.1912375544146953
precision_rf 0.27661320585209903
f1_logistic 0.28024955131574003
f1_rf 0.3562174758838147

['lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17742073664015384
precision_rf 0.2733075782280296
f1_logistic 0.2827442845638755
f1_rf 0.39828351754069913

['lecutre_rate', 'lesson_price']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17454504998567028
precision_rf 0.2617009522900114
f1_logistic 0.2816312829138715
f1_rf 0.3868460535471031

['facility_rate', 'lesson_price']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17770110428526062
precision_rf 0.2631705164540918
f1_logistic 0.28412622575492874
f1_rf 0.3877648805519961

['lecutre_rate', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.193346436029759
precision_rf 0.24048202822017006
f1_logistic 0.2960949597177442
f1_rf 0.36365208744510746

['facility_rate', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.1924828956494371
precision_rf 0.2658552454871601
f1_logistic 0.2831324874913995
f1_rf 0.39164722314625255

['facility_rate', 'lecutre_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17038841009317945
precision_rf 0.2550944240359945
f1_logistic 0.2624516346410609
f1_rf 0.37790878843990233

['lecutre_rate', 'lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.1837257935474347
precision_rf 0.26413229520714665
f1_logistic 0.2938517912077815
f1_rf 0.3901661095163331

['facility_rate', 'lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.1787080623381782
precision_rf 0.26393964921043894
f1_logistic 0.2853849602558281
f1_rf 0.38926065035633506

['facility_rate', 'lecutre_rate', 'lesson_price']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.17597624006590923
precision_rf 0.2635963968799722
f1_logistic 0.2830458501098284
f1_rf 0.3885785892602213

['facility_rate', 'lecutre_rate', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18546677902508776
precision_rf 0.2686936187894687
f1_logistic 0.28666902638521763
f1_rf 0.3932263134997373

['facility_rate', 'lecutre_rate', 'lesson_price', 'service_rate']

/home/yspark/miniconda3/envs/env_tg_db/lib/python3.10/site-packages/sklearn/model_selection/_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

precision_logistic 0.18177658706671548
precision_rf 0.2643377306346716
f1_logistic 0.28497193883382343
f1_rf 0.39004409706953674

In [20]:
# precision_rf 기준으로 정렬
sorted_by_precision_rf = sorted(total_results, key=lambda x: x[1]['precision_rf'], reverse=True)

# f1_rf 기준으로 정렬
sorted_by_f1_rf = sorted(total_results, key=lambda x: x[1]['f1_rf'], reverse=True)

In [21]:
print("Sorted by Precision RF:")
for i in range(len(sorted_by_precision_rf)):
    print(sorted_by_precision_rf[i][0], sorted_by_precision_rf[i][1]['precision_rf'])

Sorted by Precision RF:
['lesson_price', 'service_rate', 'facility_rate', 'distance_m'] 0.3354783204914443
['lesson_price', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.33328034332209067
['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.3321148837492782
['lesson_price', 'facility_rate', 'distance_m'] 0.33137877070578337
['lesson_price', 'service_rate', 'lecutre_rate', 'distance_m'] 0.3274603871848728
['lesson_price', 'service_rate', 'distance_m'] 0.3260339471039935
['lesson_price', 'lecutre_rate', 'distance_m'] 0.3243643761414357
['service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.3178499145227646
['lesson_price', 'distance_m'] 0.3147903722506561
['lecutre_rate', 'facility_rate', 'distance_m'] 0.3026607753081434
['service_rate', 'facility_rate', 'distance_m'] 0.2997421737582658
['service_rate', 'lecutre_rate', 'distance_m'] 0.2837076652586651
['facility_rate'] 0.27661320585209903
['lesson_price', 'service_rate'] 0.2733075782280296
['facility_rate', 'lecutre_rate', 'service_rate'] 0.2686936187894687
['facility_rate', 'distance_m'] 0.26853308738364934
['facility_rate', 'service_rate'] 0.2658552454871601
['facility_rate', 'lecutre_rate', 'lesson_price', 'service_rate'] 0.2643377306346716
['lecutre_rate', 'lesson_price', 'service_rate'] 0.26413229520714665
['facility_rate', 'lesson_price', 'service_rate'] 0.26393964921043894
['facility_rate', 'lecutre_rate', 'lesson_price'] 0.2635963968799722
['facility_rate', 'lesson_price'] 0.2631705164540918
['lecutre_rate', 'lesson_price'] 0.2617009522900114
['facility_rate', 'lecutre_rate'] 0.2550944240359945
['service_rate', 'distance_m'] 0.2540675740387835
['lesson_price'] 0.24561127435108113
['lecutre_rate', 'service_rate'] 0.24048202822017006
['lecutre_rate', 'distance_m'] 0.2398618660213095
['lecutre_rate'] 0.23113187805836571
['distance_m'] 0.22789305409031374
['service_rate'] 0.20688255483647094

In [22]:
print("\nSorted by F1 RF:")
for i in range(len(sorted_by_precision_rf)):
    print(sorted_by_f1_rf[i][0], sorted_by_f1_rf[i][1]['f1_rf'])

Sorted by F1 RF:
['lesson_price', 'service_rate', 'facility_rate', 'distance_m'] 0.49685185497411466
['lesson_price', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.4945147660949775
['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.4930405583431354
['lesson_price', 'facility_rate', 'distance_m'] 0.49270336912279705
['lesson_price', 'service_rate', 'lecutre_rate', 'distance_m'] 0.4875500741333732
['lesson_price', 'service_rate', 'distance_m'] 0.48623217043628947
['lesson_price', 'lecutre_rate', 'distance_m'] 0.48459627690061363
['service_rate', 'lecutre_rate', 'facility_rate', 'distance_m'] 0.4760387645961199
['lesson_price', 'distance_m'] 0.4730542069559907
['lecutre_rate', 'facility_rate', 'distance_m'] 0.45861146618293497
['service_rate', 'facility_rate', 'distance_m'] 0.45478879608327744
['service_rate', 'lecutre_rate', 'distance_m'] 0.4355385007067566
['facility_rate', 'distance_m'] 0.4187055699509874
['service_rate', 'distance_m'] 0.4005624961526964
['lesson_price', 'service_rate'] 0.39828351754069913
['facility_rate', 'lecutre_rate', 'service_rate'] 0.3932263134997373
['facility_rate', 'service_rate'] 0.39164722314625255
['lecutre_rate', 'lesson_price', 'service_rate'] 0.3901661095163331
['facility_rate', 'lecutre_rate', 'lesson_price', 'service_rate'] 0.39004409706953674
['facility_rate', 'lesson_price', 'service_rate'] 0.38926065035633506
['facility_rate', 'lecutre_rate', 'lesson_price'] 0.3885785892602213
['facility_rate', 'lesson_price'] 0.3877648805519961
['lecutre_rate', 'lesson_price'] 0.3868460535471031
['lecutre_rate', 'distance_m'] 0.38266836464006815
['facility_rate', 'lecutre_rate'] 0.37790878843990233
['distance_m'] 0.36774002878403367
['lesson_price'] 0.36493312145013646
['lecutre_rate', 'service_rate'] 0.36365208744510746
['facility_rate'] 0.3562174758838147
['lecutre_rate'] 0.3546761217371752
['service_rate'] 0.32790418892402995

In [23]:
asdg

NameError: name 'asdg' is not defined

In [ ]:
import pickle
import itertools
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import StratifiedKFold
import numpy as np
import itertools
import ray
cols = ['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate', 'distance_m']

all_subsets = []
for i in range(1, len(cols) + 1):
    subsets = list(itertools.combinations(cols, i))
    all_subsets.extend(subsets)
for subset in all_subsets:
    if len(list(subset)) >1:
        select_cols = list(subset)
        select_cols = sorted(select_cols)
    
        유저data = data.loc[:, ['requested_at', 'user_lat', 'user_long']].drop_duplicates()
        학원data = data.loc[:, ['academy_lat', 'academy_long']+['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']+['academy_id']].drop_duplicates()
        유저data['label'] = 0
        학원data['label'] = 0
    
        cross_joined_data = pd.merge(유저data, 학원data, on='label').drop('label', axis = 1)
        # data = data
        data.loc[:, 'label'] = 1
        cross_joined_data = pd.merge(cross_joined_data, data, on = ['requested_at', 'user_lat', 'user_long', 'academy_lat', 'academy_long']+['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']+['academy_id'], how = 'left')
        cross_joined_data['label'] = cross_joined_data['label'].fillna(0)
        cross_joined_data['distance_m'] = cross_joined_data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
        X_train = cross_joined_data.loc[:, select_cols]
        y_train = cross_joined_data['label']
        scaler = StandardScaler()
        X_train_scaled = scaler.fit_transform(X_train)
        file_name = '__'.join(sorted(select_cols))
        with open('./models/'+file_name + '__scaler.pkl', 'wb') as file:
            pickle.dump(scaler, file)
        
        class_weights = compute_class_weight('balanced', classes=np.unique(y_train), y=y_train)
        class_weight_dict = {i : class_weights[i] for i in range(len(class_weights))}
        rf_model = RandomForestClassifier(class_weight=class_weight_dict, random_state=42)
        rf_model.fit(X_train_scaled, y_train)
        logistic_model = LogisticRegression(class_weight=class_weight_dict, random_state=42)
        logistic_model.fit(X_train_scaled, y_train)
        
        # 모델 저장
        with open('./models/'+file_name + '__rf.pkl', 'wb') as file:
            pickle.dump(rf_model, file)
        with open('./models/'+file_name + '__logi.pkl', 'wb') as file:
            pickle.dump(logistic_model, file)

In [ ]:
def 전처리_pred(lat, long, 학원data, scaler):
    data = 학원data.copy()
    data['user_lat'] = lat
    data['user_long'] = long
    data['distance_m'] = data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    X_predict = data.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m', 'academy_name']].reset_index(drop = True)
    X_predict = X_predict[X_predict['distance_m']<=25000]
    X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']] = scaler.fit_transform(X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']])
    return X_predict

In [ ]:
예측data = 전처리_pred(lat = 36, long = 127, 학원data = 학원data, scaler = scaler)
예측data

In [ ]:
예측data['prob'] = logistic_model.predict_proba(예측data.loc[:, select_cols])[:, 1]
예측data

In [ ]:
예측data['prob'].unique()[0]

In [ ]:
max_a_row = 예측data[예측data['prob'] == 예측data['prob'].max()]
b_value = max_a_row['academy_name'].values[0]
b_value

In [ ]:
예측data['prob'].unique()[0] == 0

In [ ]:
logistic_model.predict_proba(예측data.loc[:, select_cols])

In [ ]:
학원data.to_csv('models/academy_data.csv')

In [ ]:
학원data

In [ ]:
학원data = data.loc[:, ['academy_lat', 'academy_long']+['lesson_price', 'service_rate',	'lecutre_rate',	'facility_rate']+['academy_name','academy_id', 'state']].drop_duplicates()
학원data['academy_id'] = 학원data['academy_id'].map(int_to_value)
학원data.to_csv('models/academy_data.csv')

In [ ]:
value_to_int = {value: idx for idx, value in enumerate(data['academy_name'].unique())}

int_to_value = {idx: value for value, idx in value_to_int.items()}
학원data['academy_name'] = 학원data['academy_name'].map(int_to_value)
학원data

In [ ]:
def 전처리_pred(lat, long, 학원data, scaler):
    data = 학원data.copy()
    data['user_lat'] = lat
    data['user_long'] = long
    data['distance_m'] = data.apply(lambda row: haversine(row['academy_lat'], row['academy_long'], row['user_lat'], row['user_long']), axis=1)
    X_predict = data.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m', 'academy_name']]
    X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']] = scaler.fit_transform(X_predict.loc[:, ['lesson_price', 'service_rate', 'lecutre_rate', 'facility_rate', 'distance_m']])
    return X_predict

In [ ]:
cross_joined_data['label'].value_counts()

In [ ]:
cross_joined_data

In [ ]:
cross_joined_data['requested_at'] == data['requested_at']

In [ ]:
data['requested_at']